asgiref==3.11.1
Django==6.0.4
dj-config-url==0.1.1
dj-database-url==2.3.0
django-unfold==0.90.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
pillow==12.2.0
PyJWT==2.12.1
sqlparse==0.5.5
tzdata==2026.1
whitenoise==6.12.0
psycopg2-binary==2.9.11
gunicorn==25.1.0
requests==2.31.0
python-dotenv==1.0.1
django-storages==1.14.4
boto3==1.35.99
cryptography==43.0.3
